MONGODB_CONNECTION_STRING= YOUR_MONGODB_STRING
NEXT_PUBLIC_API_URL= http://localhost:3000
GMAIL_USER= EMAIL_FROM_WHERE_YOU_SEND_THE_EMAIL
GMAIL_PASS= GENERATE_PASSWORD_OF_THE_EMAIL
JWT_SECRET=bagspackgo
REFRESH_TOKEN_SECRET=bagspackgoRefreshTokenSecret
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_KEY
CLOUDINARY_API_SECRET=YOUR_SECRET